<h1>Admins</h1>
<ul>
<% @admins.each do |admin| %>
  <li><%= link_to admin.username, admin_path(admin) %> | <%= link_to "Delete", admin_path(admin), method: "delete", id: "#{admin.id}" %></li>
<% end %>
</ul>
